@use 'variables' as *;

.shop-cart {
    background: url("../img/backgrounds/cart-bg.png") no-repeat center;
    background-size: cover;
}

#cart-body {
    display: flex;
    min-height: 400px;
    flex-direction: column;
    gap: $gap;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .empty {
        margin: auto;
    }
}

#cart-items {
    display: flex;
    flex-direction: column;
    gap: calc(2 * $gap) $gap;
    align-items: center;
    font-size: 90%;
    @media screen and (min-width: 1024px) {
        gap: calc($gap * 1.5);
    }
    @media screen and (max-width: 599px) {
        width: min(100%, 650px);
    }
}

#cart-items .item {
    width: 100%;
    $item-gap: 30px;
    gap: $item-gap;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .img {
        width: 250px;
    }

    @media screen and (min-width: 600px) {
        justify-content: flex-start;
        text-align: left;
        flex-direction: row;
    }

    .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $gap;
        align-self: stretch;
    }

    .name {
        font-size: 170%;
    }

    .price-volume {
        font: 600 150% $font-family;
    }

}

#cart-items .item .bottom {
    display: flex;
    align-items: center;

    .button, .quantity {
        height: 40px;
        border-radius: calc($border-radius / 2);
        box-shadow: 0 0 70px rgba($black, 0.3);
    }

    .button {
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        font-family: "Fontawesome";
    }
}

.controls {
    display: flex;
    gap: 10px;

    .quantity {
        width: 60px;
        border: none;
        outline: none;
        font: bold 20px $font-family;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
    }
}

#order {
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc($gap / 2);
    margin-top: calc($gap / 2);

    p {
        font-size: 200%;
        font-weight: 700;
        margin: 0;
    }

    .button {
        min-width: fit-content;
        padding: 0 $gap;
    }

    @media screen and (min-width: 1024px) {
        position: sticky;
        top: calc($main-height * 2);
        align-self: flex-start;
        z-index: 1;
        margin-top: 0;
    }
}

.delete::after {
    content: "\f1f8";
}

.plus::after {
    content: "\2b";
}

.minus::after {
    content: "\f068";
}

#close-button {
    content: "\f00d";
}

#order-popup {
    top: calc(50% + $main-height / 2);
    left: 50%;
    gap: $gap;
    border-radius: $border-radius;
    background: $white;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s, visibility 0.3s;
    box-shadow: $box-shadow;
    width: 90vw;
    height: calc(100vh - 2 * $side-padding - $main-height);
}