@use 'variables' as *;

.form {
    margin: $gap auto 0;
    display: flex;
    flex-direction: column;
    gap: $gap;
    max-width: 600px;
    padding: $gap;
    border-radius: $border-radius;
    background: $white;
    box-shadow: 0 0 50px rgba($black, 0.15);

    p, button {
        width: 100%;
        margin: 0;
    }

    p {
        text-align: left;
    }

    input {
        border: 2px solid;
        padding: 10px;
        border-radius: 14px;
        height: 50px;
        width: 100%;
        font-size: 100%;
        box-shadow: 5px 5px 50px rgba($black, 0.15);
    }
}

.form-title {
    font-size: 250%;
}

.form-link {
    color: $black;
}

.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    list-style: none;
}