@use 'variables' as *;

h1, h2 {
    margin: 0;
}

h2 {
    font-size: 200%;
}

#subscribe-button {
    display: flex;
    place-content: center;
    place-items: center;
}

.landing {
    $gap: 3rem;

    background: url("../img/backgrounds/landing-bg.jpeg") no-repeat 80%;
    background-size: cover;

    color: $white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: $gap;

    h1 {
        font-size: clamp(170%, 5vw, 250%);
    }

    h2 {
        font-size: 130%;
        font-weight: 600;
    }

    #intro-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $gap;
        align-items: center;
    }

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        h1 {
            text-align: start;
            max-width: 45%;
        }

        #intro-right {
            max-width: 35%;
            align-items: end;
            gap: inherit;

            h2 {
                text-align: end;
            }
        }
    }
}

.landing .button, footer button {
    @include button-colors($black, $bisque, $bisque);
}

.about-us p {
    text-align: start;
}

$gap: clamp(30px, 5vw, 50px);

.bestsellers {
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;

    .perfumes {
        grid-template-columns: repeat(1, 1fr);

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.perfumes {
    width: 100%;
    max-width: 100%;
    display: grid;
    gap: $gap;
    grid-auto-flow: row;
    justify-items: center;

    .cart {
        font: normal 1.125rem/1.125rem 'Fontawesome';
        width: 40px;
        height: 40px;
        border-radius: 7px;
        box-shadow: $box-shadow;

        &::after {
            content: '\f07a';
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 20px;

    & > *, h3, p {
        margin: 0;
    }

    .img {
        width: 100%;
        max-width: 320px;
        filter: drop-shadow(20px 20px 10px rgba($black, 0.5));
        transform: translateZ(0);
    }

    a {
        color: $black;
        text-decoration: none;
    }

    .name {
        font-weight: bold;
        @media screen and (max-width: 1023px) {
            font-size: 125%;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc($gap / 2);
        width: 100%;
    }
}

.price-volume {
    p {
        margin: 0;
    }

    display: flex;
    justify-content: space-between;
}

.why-we {
    h2 {
        margin-bottom: $gap;
    }

    img {
        width: clamp(100px, 50%, 120px);
    }

    h3 {
        word-spacing: 9999rem;
    }
}

.reasons-wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap;

    div {
        align-self: center;
        max-width: 600px;
    }
}

.about-us, .conclusion {
    display: flex;
    justify-content: center;
    gap: $gap;

    @media screen and (min-width: 1024px) {
        justify-content: space-between;
    }
}

.conclusion {
    .left-column {
        font-size: 150%;

        p {
            margin: 0;
        }

        #waiting-wrapper {
            margin: $gap 0;
        }

        .site-logo {
            display: inline-block;
            height: 50px;
            color: $black;
        }
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.right-img {
    display: none;
    width: clamp(350px, 33%, 587px);
    max-height: 880px;
    border-radius: 14px;
    box-shadow: $box-shadow;

    @media screen and (min-width: 1024px) {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .left-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            font-size: 110%;
        }
    }

    .conclusion .left-column {
        max-width: 55%;
        font-size: 150%;
    }

    .reasons-wrapper {
        flex-direction: row;
        justify-content: space-between;

        div {
            align-self: flex-start;
            width: clamp(180px, 20%, 410px);
            font-size: clamp(75%, 1vw, 100%);
        }
    }
}