@use 'variables' as *;

.shop {
    background: url("../img/backgrounds/shop-bg.png") no-repeat center;
    background-size: cover;
}

#main-shop {
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;

    .perfumes {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

#main-shop #sorting {
    width: 100%;
    display: flex;
    gap: clamp($gap / 5, 5vw, $gap);
    justify-content: space-between;

    .button {
        display: flex;
        justify-content: center;
        gap: 20px;
        background: $white;
        color: $black;

        span {
            font-family: $font-family;
            display: none;
        }
    }

    .brands {
        width: calc(100% - 2 * 55px - $gap / 5 * 2);
        @media screen and (min-width: 768px) {
            width: calc(100% - 2 * 200px - $gap / 5 * 2);
        }
    }

    .sort, .search {
        font-family: "Fontawesome";
        width: 55px;
        @media screen and (min-width: 768px) {
            width: 200px;
            span {
                display: inline-block;
            }
        }
    }

    .sort::before {
        content: "\f0b0";
    }

    .search::before {
        content: "\f002";
    }
}

#sorting-form {
    width: 100%;
    display: none;
    border-radius: $border-radius;
    padding: $gap;
    background-color: $white;
    box-shadow: $box-shadow;

    &.open {
        display: flex;
        gap: $gap;
        align-items: center;
        flex-direction: column;
    }

    .sort-category {
        display: none;
        width: 100%;
        font-size: 110%;

        &.open {
            display: block;
        }
    }

    input[type="text"] {
        border: $black solid 2px;
        border-radius: $border-radius;
        font-family: $font-family;
        font-size: 100%;
        padding: 10px;
        height: 50px;
        width: 100%;
    }
}

#id_brand_choices {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

#id_sorting_option, #buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
}

#id_sorting_option, #id_brand_choices {
    gap: 0 $gap;
}