{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="intro shop-cart">
    <h1>Кошик</h1>
</section>

<section id="cart-body">
    {% if cart_items %}
    <div id="cart-items">
        {% for cart_item in cart_items %}
        <article class="item">
            <img src="{% static cart_item.perfume.image.url %}"
                 alt="Пляшечка парфуму {{ cart_item.perfume.name }}" class="img">

            <div class="column">
                <a href="{% url 'perfume_detail' cart_item.perfume.url_name %}">
                    <h2 class="name">{{ cart_item.perfume.name }}</h2>
                </a>

                <div class="price-volume">
                    <p>€{{ cart_item.perfume.price }}</p>
                    <p>{{ cart_item.perfume.volume }} ml</p>
                </div>

                <div class="bottom">
                    <form action="{% url 'remove_from_cart' cart_item.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="button delete"><span class="fa-sr-only">Видалити</span></button>
                    </form>

                    <div class="controls">
                        <form action="{% url 'remove_one_from_cart' cart_item.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="button minus">
                                <span class="fa-sr-only">Зменшити кількість</span>
                            </button>
                        </form>
                        <span class="quantity">{{ cart_item.quantity }}</span>
                        <form action="{% url 'add_to_cart' cart_item.perfume.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="button plus">
                                <span class="fa-sr-only">Збільшити кількість</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <div id="order">
        <h2 id="total">
            Загальна вартість:
        </h2>
        <p>€{{ total_price }}</p>
        <button class="button" id="order-button" onclick="orderPopup()">Придбати</button>
    </div>

    <div id="order-popup">
        <h2>Невдовзі зв'яжемося з тобою!</h2>
        <form action="{% url 'clear_cart' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="button">Продовжити</button>
        </form>
    </div>

    {% else %}
    <h2 class="empty">Кошик порожній</h2>
    {% endif %}
</section>

{% endblock %}