{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="item-wrapper">
            <article class="item">
                <img src="{% static perfume.image.url %}" alt="Пляшечка парфуму {{ perfume.name }}" class="img">
                <div class="column">
                    <h1 class="name">{{ perfume.name }}</h1>

                    <div class="price-volume">
                        <p>€{{ perfume.price }}</p>
                        <p>{{ perfume.volume }} ml</p>
                    </div>

                    <p class="description">{{ perfume.description }}</p>

                    <form action="{% url 'add_to_cart' perfume.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="button">Придбати</button>
                    </form>
                </div>
            </article>
        </div>

{% endblock %}