{% extends 'base.html' %}

{% block content %}

    <div class="item-wrapper">
        <h1 class="form-title">Реєстрація</h1>
        <form class="form" method="POST" action="">
            {% csrf_token %}

            {% for field in form %}
                <p>{{ field.label }}: {{ field }}</p>

                {% for error in field.errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}

            {% endfor %}

            <button type="submit" class="button">Реєстрація</button>
        </form>
        <p>Уже був у нас? <a class="form-link" href="{% url 'login' %}" >Вхід</a></p>
    </div>

{% endblock %}