{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="intro shop">
    <h1>Аромати</h1>
</section>

<section id="main-shop">

    <div id="sorting">
        <button class="sort button" onclick="showSorting('sort-form')"><span>Фільтр</span></button>
        <button class="brands button" onclick="showSorting('brands-form')">Бренди</button>
        <button class="search button" onclick="showSorting('search-form')"><span>Пошук</span></button>
    </div>

    <div id="sorting-blocks">
        <form action="" id="sort-form">
            <input type="radio" id="rating" name="sort-way" value="rating" checked>
            <label for="rating">За рейтингом</label><br>

            <input type="radio" id="ascending" name="sort-way" value="ascending">
            <label for="ascending">За зростанням ціни</label><br>

            <input type="radio" id="descending" name="sort-way" value="descending">
            <label for="descending">За спаданням ціни</label>
        </form>

        <form id="brands-form">
            {% for brand in brands %}
            <input  type="checkbox" name="{{ brand.name }}" value="{{ brand.id }}" id="{{ brand.id }}">
            <label for="{{ brand.id }}">{{ brand.name }}</label>
            {% endfor %}
        </form>

        <form id="search-form">
            <input type="text" placeholder="Назва парфуму..." required>
        </form>
    </div>

    <div class="perfumes">
            {% for perfume in perfumes %}
            <article class="item">
                <img src="{% static perfume.image.url %}" alt="Пляшечка парфуму {{ perfume.name }}" class="img">
                <a href="{% url 'perfume_detail' perfume.url_name %}"><h3 class="name">{{ perfume.name }}</h3></a>
                <div class="bottom">
                    <div class="price-volume">
                        <p>{{ perfume.price }} EUR</p>
                        <p>|</p>
                        <p>{{ perfume.volume }} ml</p>
                    </div>
                    <button class="button cart"><span class="fa-sr-only">Придбати</span></button>
                </div>
            </article>
            {% endfor %}
        </div>

</section>

{% endblock %}