{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="intro shop">
    <h1>Аромати</h1>
</section>

<section id="main-shop">

    <div id="sorting">
        <button class="sort button" onclick="showSorting('sort-form')"><span>Фільтр</span></button>
        <button class="brands button" onclick="showSorting('brands-form')">Бренди</button>
        <button class="search button" onclick="showSorting('search-form')"><span>Пошук</span></button>
    </div>

    <form id="sorting-form" action="" method="GET">
        {% csrf_token %}

        <div id="sort-form" class="sort-category">
            {{ sorting }}
        </div>

        <div id="brands-form" class="sort-category">
            {{ brand_form }}
        </div>

        <div id="search-form" class="sort-category">
            <input type="text" name="query" placeholder="Назва парфуму..." value="{{ query|default_if_none:'' }}">
        </div>

        <div id="buttons">
            <button type="submit" class="button" id="sort-button">Пошук</button>
            {% if query or brand_form.is_bound and brand_form.data %}
            <a href="{% url 'shop' %}?clear" class="button">Очистити</a>
            {% endif %}
        </div>

    </form>


    <div class="perfumes">
        {% if perfumes %}
        {% for perfume in perfumes %}
        <article class="item">
            <img src="{% static perfume.image.url %}" alt="Пляшечка парфуму {{ perfume.name }}" class="img">
            <a href="{% url 'perfume_detail' perfume.url_name %}"><h3 class="name">{{ perfume.name }}</h3></a>

            <div class="bottom">
                <p class="price-volume">€{{ perfume.price }} | {{ perfume.volume }} ml</p>

                <form action="{% url 'add_to_cart' perfume.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="button cart">
                        <span class="fa-sr-only">Придбати</span>
                    </button>
                </form>

            </div>
        </article>
        {% empty %}
        <h2>Немає доступних парфумів</h2>
        {% endfor %}
        {% else %}
        <h2>Не знайдено парфумів</h2>
        {% endif %}
    </div>

</section>

{% endblock %}
